<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Animales</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <style>
             #forma {
                display: inline-block;
                float: left;
            }
            #busqueda {
                display: inline-block;
                float: right;
            }
            #notificacion {
                display: none;
            }
            #lista-animales{
                clear: both;
            }
        </style>
        <section id="ap-animales">
            <header><h1> Animales</h1></header>
            <section>
                <div id="notificacion"></div>
                <div id="forma">
                    <table>
                        <tr><td>Clave:</td><td><input type="text" id="inp-clave"></td></tr>
                        <tr><td>Raza</td><td><input type="text" id="inp-raza"></td></tr>
                        <tr><td>Nombre:</td><td><input type="text" id="inp-nombre"></td></tr>
                        <tr><td></td><td><button id="bt-guardar">Guardar</button>
                                <input type="hidden" id="inp-idAnimal">
                            </td></tr>
                        
                    </table>
                </div>
                <div id="busqueda">
                    <input type="text" id="inp-busqueda">
                    <button id="bt-buscar">Buscar</button>
                </div>
            </section>
            <section>
                <!--<ul id="lista-articulos"></ul> se ocupo para la lista-->
                <table id="lista-animales">
                    <TR>
                        <td class='art-clave'>CLAVE</td>
                        <td class='art-raza'>RAZA</td>
                        <td class='art-nombre'>NOMBRE</td>
                    </TR>
                </table>
            </section>
        </section>

           <!-- PLANTILLAS -->
           <script type="text/template" id='plantilla-animal'>
                
               <td class='art-clave'><%- clave %></td>
               <td class='art-raza'><%- raza %></td>
               <td class='art-nombre'><%- nombre %></td>
               <td class='art-boton'>
                    <button id='bt-editar-<%- idAnimal %>' class='bt-editar'>E</button>
                </td>
               <td class='art-boton'>
                    <button id='bt-borrar-<%- idAnimal %>' class='bt-borrar'>X</button>
               </td>
           </script>

        <!-- DEPENDENCIAS JAVASCRIPT-->
        <script src="js/jquery-min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script type="text/javascript">
            //Namespace (opcional)
            var apAnim = {};

            apAnim.Articulo = Backbone.Model.extend({//DEclaracion de atributo articulo
                //Los dos puntos se utilizan para definir un objeto en javascript
                defaults: {nombre: "ANIMAL", raza: "RAZA"},
                idAttribute: 'idAnimal',
                urlRoot: '/SpringRest/animales',
                initialize: function () {
                    console.log('Inicialización Animal');
                    this.on('change',function () {
                        console.log("Cambio en Animal");

                    });
                },
                //Valida la información al momento de utilizar en la consola
                validate: function (atribs) {
                    console.log('Validando animal');
                    if (atribs.id_raza == 0) {
                        return "ERROR";
                    }
                }

            });

            apAnim.ListaAnimales = Backbone.Collection.extend({ //DEclaracion de atributo Lista
                model: apAnim.Animal,
                url: '/SpringRest/animales'
            });
            
            apAnim.animalesEnPantalla = new apAnim.ListaAnimales(); //Instacia a la lista de animales
            
            apAnim.VistaAnimal = Backbone.View.extend({//Crear una vista de datos(articulos)
                //tagName : 'li', se usa para 
                tagName : 'tr',
                template: _.template($('#plantilla-animal').html()),
                render: function() {
                    //this.$el.html('<b>' + this.model.attributes.nombre + '</b>');
                    this.$el.html(this.template(this.model.toJSON()));
                    return this;
                }
            });
            
            apAnim.VistaListaAnimales = Backbone.View.extend({
                el:"#ap-animales", //Atributo de asociacion con la vista, su identificador es lista-animal
                events:{
                    'click .bt-borrar':'borrarAnimal',
                    'click .bt-editar':'editarAnimal',//Se utiliza el . punto es para cuando es una class
                    'click #bt-guardar':'guardarAnimal',// el simbolo # es para los id 
                    'click #bt-buscar':'buscarAnimal'
                    
                    
                },
                initialize: function(){
                    console.log('Entro a inicializar');
                    apAnim.animalesEnPantalla.on('add',this.addOne,this);//SE le pasa el metodo addOne
                    apAnim.animalesEnPantalla.on('reset',this.addAll,this);
                    apAnim.animalesEnPantalla.fetch();
                },
                addOne: function(art) {
                    console.log('Entro a addOne');
                    var vista = new apAnim.VistaAnimal({model: art});
                    $('#lista-animales').append(vista.render().el);
                },
                addAll: function() {//Funcion que tiene que ver con los datos y no con la interfaz
                    console.log('Entro a addAll');
                    this.$('#lista-animales').html('');
                    apAnim.animalesEnPantalla.each(this.addOne,this);
                },
                
                editarAnimal: function(ev){
                    console.log("Editar");
                    var idAnim = parseInt(ev.currentTarget.id.substring(10));
                    var animal = apAnim.animalesEnPantalla.get(idAnim);
                    $('#inp-idAnimal').val(idAnim);
                    $('#inp-clave').val(animal.get('clave'));
                    $('#inp-raza').val(animal.get('raza'));
                    $('#inp-nombre').val(animal.get('nombre'));
                    
                },
                buscarAnimal: function(){
                    
                    var ani = $('#inp-busqueda').val();
                    console.log("Buscar"+ani);
                    apAnim.animalesEnPantalla.fetch(ani);
                },
                guardarAnimal: function(){
                    console.log('guardar');
                    var ani = new apAnim.Animal({
                        clave:         $('#inp-clave').val(),
                        raza:    $('#inp-raza').val(),
                        nombre:         $('#inp-nombre').val()
                        });
                        
                        if($('#inp-idAnimal').val()) ani.set('idAnimal',$('#inp-idAnimal').val());
                        
                        console.log(ani);
                        //Se agregan las llaves vacías porque recibe como primer valor el id
                        ani.save({
                            success: function(model, response){
                                console.log('model');
                                $('#notificacion').text('El animal fue guardado');
                                $('#notificacion').show();
                                apAnim.animalesEnPantalla.add(model);
                                
                                },
                            error: function(model,response){
                                $('#notificacion').text('El animal no se pudo guardar');
                                $('#notificacion').addClass('error');
                                $('#notificacion').show();
                            }
                        });
                },
                borrarAnimal: function(elem){
                    console.log('borrar');
                    var idAni = parseInt(elem.currentTarget.id.substring(10));
                    console.log(idAni);
                    if(confirm("¿Desea borrar este animal?")){
                       var anim = new apAnim.Animal({'idAnimal': idAni}); 
                           anim.destroy({
                            success:function(model, response){
                               $('#notificacion').text('El animal se elimino');
                               $('#notificacion').show();
                              
                               apAnim.animalesEnPantalla.remove(idAni);
                               $(elem.currentTarget).closest('tr').remove();
                               
                           },
                           error:function(model, response){
                                $('#notificacion').text('El animal no pudo eliminarse');
                                $('#notificacion').addClass('error');
                                $('#notificacion').show();
                              
                                }
                           });//destroy
                    }//Cerrar confirmacion
                }//borrar animal
            });

            apAnim.vistaAnim = new apAnim.VistaListaAnimales();
            
        </script>
    </body>
</html>
